.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5rem 0;
  background: linear-gradient(90deg, #4e4376, #2b5876);

  ul {
    text-align: center;
    margin-bottom: 2rem;

    @include phone {
      display: flex;
      flex-direction: column;
    }

    li {
      border: 0;
      padding: 0 1.8rem;
      display: inline;

      @include phone {
        padding: 1rem 1.8rem;
      }
    }
  }

  p {
    width: 100%;
    text-align: center;
    color: #fff;
  }
}
